.container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 5%;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.table {
    margin-bottom: 0;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}
